.modal {
    margin: 10px auto;
    border-radius: 3px;
    height: calc(100vh - 20px);

    .button_close {
        display: flex;
        position: absolute;
        top: -17px;
        right: -14px;
        justify-content: center;
        border-radius: 50%;
        background: white;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .button_carousel {
        position: absolute;
        top: 50%;
        font-size: 36px;

        i {
            color: white;
        }

        &--right {
            right: -20%;
        }

        &--left {
            left: -20%;
        }
    }
}
